<form #f="ngForm" (ngSubmit)="save(f.value)">
  <div class="form-group">
    <label for="name">Nombre</label>
    <input #n="ngModel" [(ngModel)]="name" name="name" id="name" type="text" required>
    <div *ngIf="n.touched && n.invalid" class="alert alert-danger">
      El nombre es requerido
    </div>
  </div>

  <div class="form-group">
    <label for="address">Direccion</label>
    <input #p="ngModel" [(ngModel)]="address" name="address" id="address" type="text" required>
    <div *ngIf="p.touched && p.invalid" class="alert alert-danger">
      La direccion es requerida
    </div>
  </div>

  <button class="btn">Guardar</button>
</form>
<button class="btn" routerLink="/admin/products">Volver</button>
