<form #f="ngForm" (ngSubmit)="save(f.value)">
  <div class="form-group">
    <label for="name">Nombre</label>
    <input [(ngModel)]="name" name="name" id="name" type="text">
  </div>

  <div class="form-group">
    <label for="price">Precio en $</label>
    <input [(ngModel)]="price" name="price" id="price" type="number">
  </div>

  <div class="form-group">
    <label for="image">URL imagen</label>
    <input type="file" (change)="uploadFile($event)">
    <input type="text" [(ngModel)]="image" name="image" id="image" value=" {{ downloadURL | async }} ">
    <!-- <a [href]="downloadURL | async">{{ downloadURL | async }}</a> -->
    <img [src]="downloadURL | async" alt="">
    <!-- <progress max="100" [value]="(uploadProgress | async)"> </progress> -->
  </div>

  <div class="form-group">
    <label for="category">Categoria</label>
    <select [(ngModel)]="category" name="category" id="category">
      <option value=""></option>
      <option value="new">Noticia</option>
      <option value="promo">Promocion</option>
      <option value="element">Producto</option>
    </select>
  </div>

  <button class="btn">Guardar</button>
</form>
<button class="btn" routerLink="/admin/products">Volver</button>


|