<div class="titulos">
  <h1> ENVIO </h1>
</div>
<form #f="ngForm">
  <div class="form-group">
    <label for="">A Nombre de:</label>
    <input #n="ngModel" name="name" [(ngModel)]="shipping.name" type="text" class="form-control" value="{{appUser.name}}" required>
    <div class="alert alert-danger" *ngIf="n.touched && n.invalid">
      <div *ngIf="n.errors.required">Se requiere un Nombre</div>
    </div>
  </div>


  <label>Envio / Retiro</label>
  <div class="ml-2">
    <label>
      <input type="radio" name="color" value="azul">  A Domicilio
    </label><br>
    <div>
    <div class="form-group">
      <label for="">Direccion de Envio</label>
      <input #a="ngModel" name="address" [(ngModel)]="shipping.address" type="text" class="form-control" placeholder="Direccion"
        required>
      <div class="alert alert-danger" *ngIf="a.touched && a.invalid">
        <div *ngIf="a.errors.required">Se requiere una Direccion</div>
      </div>
    </div>
  </div>
    <label>
      <input type="radio" name="color" value="negro"> En Mostrador
    </label><br>
  </div>



  <div class="form-group">
    <label for=""></label>
    
  </div>

  <button (click)="placeOrder()" class="btn">Enviar</button>
</form>

<button class="btn" routerLink="/summary">Volver</button>
