<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th class="text-center">Cantidad</th>
      <th class="text-center">Precio</th>
    </tr>
  </thead>
  <tbody>
    
    <div *ngIf="order$ | async as order; else noOrder">
      <div>
        <h2>Datos de envio</h2>
        <div>{{order.shipping.name}}</div>
        <div>{{order.shipping.address}}</div>
      </div>
      <div *ngFor="let item of order.items"> 
        <div><label for="">Name</label>{{item.product.name}}</div>
        <div><label for="">Precio</label>{{item.product.price}}</div>
        <div><label for="">Cantidad</label>{{item.quantity}}</div>
        <div><label for="">Total</label>{{item.totalPrice}}</div>
      </div>      
    </div>
    
    <pre>
      {{ order$ | async | json }}
    </pre>

    <!-- <tr *ngFor="let item of order$ | async ">
      <td>{{ item.shipping.name }}</td>
      <td class="">
        <div class="row no-gutters">
          <div class="col-2 no-gutters">
            <button (click)="removeFromCart(item)" class="btn btn-block bo">-</button>
          </div>
          <div class="col align-middle text-center">
            {{ item.quantity }}</div>
          <div class="col-2 no-gutters">
            <button (click)="addToCard(item)" class="btn btn-block bo">+</button>
          </div>
        </div>
      </td>
      <td class="text-center"><strong>$ </strong>{{ item.totalPrice }}</td>
    </tr> -->
  </tbody>
</table>


