<div *ngIf="order$ | async as order; else noOrder">
  <div>
    <div class="titulos">
      <h2>DATOS DE ENVIO</h2>
    </div>
    <p><strong>Retirado por: </strong>{{order.envio.nombre}}</p>
    <p><strong>Destino: </strong>{{order.envio.destino}}</p>
    <p *ngIf="order.envio.direccion"><strong>Direccion: </strong>{{order.envio.direccion}}</p>
    <!-- <p><strong>Estado: </strong>{{order.status}}</p> -->
    <p><strong>{{order.send}}</strong></p>

  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th class="text-center">Cantidad</th>
        <th class="text-center">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of order.items">
        <td>{{ item.product.name }}</td>
        <td class="text-center">{{ item.quantity }}</td>
        <td class="text-center"><strong>$ </strong>{{ item.totalPrice }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Sub Total</td>
        <td></td>
        <td>{{rec(order)}}</td>
      </tr>
      <tr>
        <th>Recargo por tarjeta</th>
        <th>{{order.recargoPag}}%</th>
        <th><small *ngIf="order.recargoPag==1">({{pag(order)}})</small></th>
      </tr>
      <tr>
        <th>Recargo por Envio</th>
        <th>{{order.recargoEnv}}%</th>
        <th> <small *ngIf="order.recargoEnv==5">({{env(order)}})</small></th>
      </tr>
      <tr>
        <th></th>
        <th>Total</th>
        <th>$ {{rec(order)+pag(order)+env(order)}} </th>
      </tr>
    </tfoot>
  </table>
</div>

<!-- <pre> {{ order$ | async | json }} </pre> -->
