<div class="cabezera">
  <div class="ti">
    <h1>GRACIAS</h1>
    <h2>POR TU</h2>
    <h1>COMPRA!</h1>
  </div>
  <img class="tomate" src="/assets/img/3.png" alt="">
  <button class="btn " routerLink="/shop"> VOLVER AL SHOP</button>
</div>

<div class="titulos">
  <h1> TU RESUMEN</h1>
</div>
<div *ngIf="cart$ | async as cart">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td>{{ item.products.name }}</td>
        <td>{{ item.quantity }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
