.cabezera{
  background: url("/assets/img/fondo.jpg");
}
.ti{
  display: inline-block;
  color: white!important;
  font-family: 'Abril Fatface', cursive;
  padding-top:  10px;
  margin: 10px;
  border-top: white solid 3px;
  border-bottom: white solid 3px;
}

h1,h2,h3{
  text-align: center;
  padding: 3px;
  margin: 3px;
}
.tomate{
  position:absolute;
  display: inline-block;
  width: 40%;
  float: right;
}
.resumen{
  background-color: #fff !important;
  margin-top: 10px;
}

.date strong{
  padding-top: 5px;
  margin-top:  15px;
  display: block !important;

}
.bo{
padding: 1px;
margin: 1px;
}
