<div class="cabezera">
  <div class="ti">
    <h1>GRACIAS</h1>
    <h2>POR TU</h2>
    <h1>COMPRA!</h1>
  </div>
  <img class="tomate" src="/assets/img/3.png" alt="">
  <button class="btn " routerLink="/shop"> VOLVER AL SHOP</button>
</div>

<div class="titulos">
  <h1> TU RESUMEN</h1>
</div>
<div *ngIf="cart$ | async as cart">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td>{{ item.products.name }}</td>
        <td>
              <button *ngIf="item.quantity === 0; else updateQuantity" (click)="addToCard(p)" class="btn">
                Agregar al Carrito</button>
              <ng-template #updateQuantity>
                <div class="row no-gutters">
                  <div class="col-2 no-gutters">
                    <button (click)="removeFromCart(item.products)" class="btn btn-secondary btn-block">-</button>
                  </div>
                  <div class="col align-middle text-center">
                    {{ item.quantity }}</div>
                  <div class="col-2 no-gutters">
                    <button (click)="addToCard(item.products)" class="btn btn-secondary btn-block">+</button>
                  </div>
                </div>
              </ng-template>
        </td>
        <td><strong>$ </strong>{{ item.totalPrice }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th>Total</th>
        <th>$ {{ cart.totalPrice }}</th>
      </tr>
    </tfoot>
  </table>
</div>
