<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink=""><strong>| DISFRUTA |</strong></a>
  <div *ngIf="cart$ | async as cart">
    <a class="navbar-brand" routerLink="summary" *ngIf="cart.totalItemsCount > 0">Carrito
      <span class="badge badge-warning badge-pill"> {{cart.totalItemsCount}} </span>
    </a>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation"(click)="collapsed();">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="collapsed();" href="/#shop">PRODUCTOS<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="collapsed();" href="/#promo">PROMOCIONES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="collapsed();" href="/#nosotros">NOSOTROS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="collapsed();" href="/#contacto">CONTACTO</a>
      </li>
      <li class="nav-item">
        <!-- Button trigger modal -->
        <a *ngIf="!(auth.user$ | async)" class="nav-link" data-toggle="modal" data-target="#exampleModal">
          INICIAR SESION
        </a>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <img src="/assets/img/LOGO.jpg" alt="">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                  <li class="nav-item">
                    <button class="btn active" id="pills-log-tab" data-toggle="pill" href="#pills-log" role="tab" aria-controls="pills-log" aria-selected="true">INICIAR SESION</button>
                  </li>
                  <li class="nav-item">
                    <button class="btn" id="pills-reg-tab" data-toggle="pill" href="#pills-reg" role="tab" aria-controls="pills-reg" aria-selected="false">REGISTRARSE</button>
                  </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                  <div class="tab-pane fade show active" id="pills-log" role="tabpanel" aria-labelledby="pills-log-tab">
                    <div class="log">
                      <form>
                        <input type="text" name="email" value="" placeholder="Email">
                        <input type="password" name="password" value="" placeholder="Contraseña">
                        <button type="submit" class="btn"name="button">INGRESAR</button>
                      </form>
                      <button (click)="login()" class="btn btn-primary">Ingresar con google</button>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="pills-reg" role="tabpanel" aria-labelledby="pills-reg-tab">
                    <div id="reg">
                      <form action="/sesion" method="post">
                        <input type="text" name="name" value="" placeholder="Nombre">
                        <input type="text" name="regEmail" value="" placeholder="Email">
                        <input type="password" name="password" value="" placeholder="Contraseña">
                        <input type="password" name="passwordConfirm" value="" placeholder="Confirme Contraseña">
                        <button type="submit" class="btn ">REGISTRARSE</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </li>
      <li class="nav-item dropdown" *ngIf="appUser">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"(click)="collapsed();">
          {{ appUser.name }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <!-- <a class="dropdown-item" routerLink='/profile'>PERFIL</a> -->
          <a class="dropdown-item" (click)="collapsed();" routerLink='/buy'>MIS COMPRAS</a>
          <a *ngIf="appUser.isAdmin" class="dropdown-item" (click)="collapsed();" routerLink="/admin/orders">VENTAS</a>
          <a *ngIf="appUser.isAdmin" class="dropdown-item" (click)="collapsed();" routerLink="/admin/comments">COMENTARIOS</a>
          <a *ngIf="appUser.isAdmin" class="dropdown-item" (click)="collapsed();" routerLink='/admin/products'>PRODUCTOS</a>
          <a class="dropdown-item" (click)="logout()" href="#">LOGOUT</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
