<app-filter [category]="category" ></app-filter>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <div *ngFor="let p of filterProducts" class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ p.image }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ p.name }}</h5>
          <p class="card-text">${{ p.price }} Kg</p>
        </div>
        <div class="card-footer">
          <button
          *ngIf="getQuantity(p) === 0; else updateQuantity"
          (click)="addToCard(p)"
          class="btn">
          Agregar al Carrito</button>
          <ng-template #updateQuantity>
            <div class="row no-gutters">
              <div class="col-2 no-gutters">
                <button
                (click)="removeFromCart(p)"
                class="btn btn-secondary btn-block">-</button>
              </div>
              <div class="col align-middle text-center">{{ getQuantity(p) }} en el carrito</div>
              <div class="col-2 no-gutters">
                <button (click)="addToCard(p)"
                class="btn btn-secondary btn-block">+</button>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
