<button class="btn" routerLink="/admin/products/new">Nuevo Producto</button>
<button class="btn" routerLink="/admin/branch/new">Nueva Sucursal</button>
<p>
  <input
    #query
    (keyup) = "filter(query.value)"
    type="text" class="form-control" placeholder="Buscar">
</p>
<table class="table table-responsive">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Precio</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of filterProducts">
      <td>{{ p.name }}</td>
      <td>{{ p.price }}</td>
      <td><a [routerLink]="['/admin/products/'+ p.key]">Editar</a></td>
      <td><a routerLink="/admin/products" (click)="delete(p.key)">Eliminar</a></td>
    </tr>
  </tbody>
</table>
